<section class="community">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Corporate Sponsor</p>
          <a href="https://www.wacharitydirect.com.au/" target="_blank" title="opens in new page"><img src="img/charitydirect.png" alt="WA Charity Direct" class="img-fluid img-sponsor"></a>
        </div>
        <div class="col-md-6 margin-top">
          <p>Founding Member</p>
          <a href="http://thedevilsadvocate.org.au/" target="_blank" title="opens in new page"><img src="/img/devilsadvocate.png" alt="Devils Advocate" class="img-fluid img-sponsor"></a>
        </div>
      </div>
    </div>
  </section>