</div><!--main container-->

<footer class="footer">
  <div class="container">
  
    <div class="row">
    
      <div class="col-md-7 col-s-6 footer-col-1 credits">
        <img src="../img/logo-alt.png" alt="Collins Moore Chartered Accountants" class="footer-logo img-fluid">
        <p><script type="text/javascript">
          document.write("© " + new Date().getFullYear() + " Collins Moore Chartered Accountants" );
        </script></p>
        <p>
            <a href="http://fireflywebdesign.co" rel="nofollow" >Website by Firefly Web Design</a>
          </p>
     
      </div><!--col-->

      <div class="col-md-5 col-s-6 footer-col-2">
        <h2 class="footer-col-title">Contact Us</h2>
        <p><a href="tel:0863233130">Phone: (08) 6323 3130</a></p>
        <p><a href="mailto:scott@collinsmoore.com.au">Email: scott@collinsmoore.com.au</a></p>
        <p>Fax: (08) 6323 3370</p>
        <p>Address: 70B Kishorn Road, <br>Mount Pleasant 6163</p>
        <p></p>

 
      </div><!--col-->
      
    </div><!--row-->
  </div><!--container-->
</footer>
<!-- 
    <div class="container-fluid footer-credit">
      <div class="row">
      <div class="col-lg-12">
          <p>
              <a href="http://fireflywebdesign.co" rel="nofollow" >Website by Firefly Web Design</a>
            </p> 
      </div><!--col-->
    <!-- </div>row
  </div>container -->


  {{ partial "scripts" . }}

  </body>
</html>
