<footer class="footer">
  <div class="container">
  
    <div class="row">
    
      <div class="col-6 copyright">
      
          <script type="text/javascript">
            document.write("© Collins Moore " + new Date().getFullYear());
          </script>
        
      </div><!--col-->

      <div class="col-6 credit">

          <a href="http://fireflywebdesign.co" rel="nofollow" >Website by Firefly Web Design</a></div>
      
      </div><!--col-->
      
    </div><!--row-->
  </div><!--container-->
</footer>

  {{ partial "scripts" . }}

  </body>
</html>
