<footer class="footer">
  <div class="container">
  
    <div class="row">
    
      <div class="col-sm-8 footer-col-1">
        <img src="../img/logo-alt.png" alt="Collins Moore Chartered Accountants" class="footer-logo img-fluid">
        <p><script type="text/javascript">
          document.write("© " + new Date().getFullYear() + " Collins Moore Chartered Accountants" );
        </script></p>
        <p>
          <a href="http://fireflywebdesign.co" rel="nofollow" >Website by Firefly Web Design</a>
        </p>
     
      </div><!--col-->

      <div class="col-sm-4 footer-col-2">
        <h2 class="footer-col-title">Contact</h2>
        <p>Phone: +61 (08) 6323 3130</p>
        <p>Fax: +61 (08) 6323 3370</p>
        <p>Address: 70B Kishorn Road <br>Mount Pleasant 6163</p>
        <p></p>

 
      </div><!--col-->
      
    </div><!--row-->
  </div><!--container-->
</footer>

  {{ partial "scripts" . }}

  </body>
</html>
