<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>

  </head>
  <body>

  <a class="skip-main" href="#main">Skip to main content</a>

  <div class="topbar">
    <ul class="container">
      <li><a href="#">Upload Files</a></li>
      <li><a href="#">Support Login</a></li>
    </ul>
  </div>

  <header class="header sticky-top">
    <div class="container navbar navbar-expand-lg justify-content-between sticky-top">
    
      <a class="navbar-brand" href="/"><img src="../img/logo.png" class="d-inline-block align-top img-fluid" alt="Collins Moore Chartered Accountants Home"></a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      
    {{ partial "nav" . }}

  </div>

  </header>