
:root {

    /* brand colors */
    --col-primary: #000;
    --col-primary-hover: #000;
    --col-secondary: #fff;
    --col-secondary-hover: #fff;
    --col-link: purple;
    --col-link-hover: green;
    --col-link-visited: color(purple tint(50%));

    /* typography */
    --font-fam-primary: Roboto, sans-serif; 
    --font-fam-secondary: serif;
    --font-col-primary: #3a3a3a;
    --font-col-secondary: green;


    /* footer */
    --footer-size: 0.9rem;
    --footer-bg: grey ;
    --footer-color: #fff;
    --footer-link: #fff ;
    --footer-link-hover: #fff ;
  }
  