/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/variables.css";


/*
  Or add your statements here:
 */
body{
  font-family: var(--font-fam-primary);
  color: var(--font-col-primary);
  font-size: 1em;
  text-align: center;
}

a {
  color: var(--col-link); 
}
a:hover,
a:visited,
a:focus {
  color: var(--col-link-visited); 
}
