/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/variables.css";
@import "imports/helpers.css";



/****************************************************************
GLOBAL LAYOUT
****************************************************************/

/*TOPBAR*/

.topbar {
  background: #000;
  color: #fff;
}
.topbar li {
  list-style: none;
  display:inline;
  margin-left:10px;
}
.topbar li a {
  color: #fff;
  font-weight: 300;
}

/*HEADER*/



/*NAVIGATION*/



/*FOOTER*/


/****************************************************************
GLOBAL TYPOGRAPHY
****************************************************************/

body{
  font-family: var(--font-fam-primary);
  color: var(--font-col-primary);
  font-size: 1em;
  text-align: center;
}

/*NAVIGATION*/


/*HEADER*/


/*LINKS*/

a {
  color: var(--col-link); 
}
a:hover,
a:visited,
a:focus {
  color: var(--col-link-visited); 
}


/*FOOTER*/


/****************************************************************
GLOBAL COMPONENTS
*****************************************************************/

/*BUTTONS*/


/*FORMS*/


/*****************************************************************
PAGE SPECIFIC STYLES
******************************************************************/


/*HOMEPAGE*/


/*ABOUT PAGE*/


/*SERVICES PAGE*/


/*CONTACT PAGE*/

