{{ partial "header" . }}

<div id="main" tabindex="-1"></div>

<section class="hero">
  <h1>This is the main heading</h1>
  <p class="subtitle">This is a sub-heading which tells the visitor more about what you do and who you work with.</p>
  <a href="/contact" class="btn btn-primary">Contact Us</a>
</section><!--hero-->

<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="http://via.placeholder.com/300x250" alt="#" class="img-service">
        <h3 class="service-title">Service One</h3>
      </div>
      <div class="col-4">
        <img src="http://via.placeholder.com/300x250" alt="#" class="img-service">
        <h3 class="service-title">Service Two</h3>
      </div>
      <div class="col-4">
        <img src="http://via.placeholder.com/300x250" alt="#" class="img-service">
        <h3 class="service-title">Service Three</h3>
      </div>
    </div>
  </div>
</section><!--services-->

<section class="about">
  <div class="col-6">

  </div>
  <div class="col-6">
    <img src="http://via.placeholder.com/300x400" alt="" class="img-about img-fluid">
  </div>
</section><!--about-->


{{ partial "footer" . }}
